/* Estilos personalizados Premium */

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.2);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #4ade80;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(74, 222, 128, 0.6);
    transition: transform 0.1s;
}

input[type=range]::-webkit-slider-thumb:active {
    transform: scale(1.2);
}

/* Animaciones */
@keyframes spin_slow {
    100% { transform: rotate(360deg); }
}

.playing img {
    animation: spin_slow 20s linear infinite;
}